body {
  color: #DDDDDD;
  background-color: #333333;
  font-size: 13px;
}

#main {
  padding: 10px;
}

#game {
  border: solid 1px;
  border-color: #000000;   
}

#text {
  margin-left: 30px;
}
p {
  font-size: 14px;
}
a:link    { color: #DDDDDD; }
a:visited { color: #DDDDDD; }
a:hover   { color: #DDDDDD; }
a:active  { color: #DDDDDD; }
